<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>About Us 01 - Online Courses & Education Bootstrap5 Template</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/assets/images/favicon.png">

    <!-- CSS
	============================================ -->
    <!-- CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/vendor/bootstrap.min.css" th:href="@{/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick.css" th:href="@{/css/vendor/slick.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick-theme.css" th:href="@{/css/vendor/slick-theme.css}">
    <link rel="stylesheet" href="../static/css/plugins/sal.css" th:href="@{/css/plugins/sal.css}">
    <link rel="stylesheet" href="../static/css/plugins/feather.css" th:href="@{/css/plugins/feather.css}">
    <link rel="stylesheet" href="../static/css/plugins/fontawesome.min.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/plugins/euclid-circulara.css"
          th:href="@{/css/plugins/euclid-circulara.css}">
    <link rel="stylesheet" href="../static/css/plugins/swiper.css" th:href="@{/css/plugins/swiper.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnify.css" th:href="@{/css/plugins/magnify.css}">
    <link rel="stylesheet" href="../static/css/plugins/odometer.css" th:href="@{/css/plugins/odometer.css}">
    <link rel="stylesheet" href="../static/css/plugins/animation.css" th:href="@{/css/plugins/animation.css}">
    <link rel="stylesheet" href="../static/css/plugins/bootstrap-select.min.css"
          th:href="@{/css/plugins/bootstrap-select.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/jquery-ui.css" th:href="@{/css/plugins/jquery-ui.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnigy-popup.min.css"
          th:href="@{/css/plugins/magnigy-popup.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/plyr.css" th:href="@{/css/plugins/plyr.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <style>
        .row {
            --bs-gutter-x: 10rem;
            --bs-gutter-y: 0;
            display: flex;
            flex-wrap: wrap;
            margin-top: calc(var(--bs-gutter-y) * -1);
            margin-right: calc(var(--bs-gutter-x) * -.5);
            margin-left: calc(var(--bs-gutter-x) * -.5)
        }
    </style>

</head>
<header class="rbt-header rbt-header-10">
    <div class="rbt-header-wrapper header-space-betwween header-sticky">
        <form th:replace="~{forms.html::header}"></form>
    </div>
</header>
<body class="rbt-header-sticky">


<!-- Start Banner Area  -->
<!--<div class="slider-area rbt-banner-10 height-750 bg_image bg_image&#45;&#45;11" data-black-overlay="5">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12">-->
<!--                <div class="inner text-center">-->

<!--                    <h1 class="title display-one text-white">Take Challenge for Build Your Life. <br>The World Most-->
<!--                        Lessons for Back to Your Life.</h1>-->
<!--                    <div class="read-more-btn mt&#45;&#45;40">-->
<!--                        &lt;!&ndash; <a class="rbt-btn btn-gradient hover-icon-reverse" th:href="@{/contacts}">-->
<!--                                 <span class="icon-reverse-wrapper">-->
<!--                                     <span class="btn-text">Contact Us</span>-->
<!--                                 <span class="btn-icon"><i class="feather-arrow-right"></i></span>-->
<!--                                 <span class="btn-icon"><i class="feather-arrow-right"></i></span>-->
<!--                                 </span>-->
<!--                         </a>&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- End Banner Area  -->

<!-- Start About Area  -->
<div class="rbt-about-area about-style-1 bg-color-white rbt-section-gapTop">
    <div class="container">
        <div class="row g-5 align-items-center">

            <div class="col-lg-12">
                <div class="inner pl--50 pl_sm--0 pl_md--0">
                    <div class="section-title text-start">

                        <h2 class="title">About Us</h2>
                    </div>
                    <p class="description mt--30">If you've come this far, you may be interested in finding out a bit more about the team behind the project.
                    This was developed as our final project at Telerik Academy - the fruit of 6 months of hard work of learning and coding, and almost three weeks of
                    what seemed to be endless programming. That's what took us to develop this application. If something you found here caught your eye - feel free to
                    contact us - we're open to discussion, new connections and opportunities (having a pleasant chat about coding over a beer or two also counts of course).
                    You can find our contacts bellow. Peace out!</p>
                    <!-- Start Feature List  -->
                    <div class="rbt-feature-wrapper mt--40">

<!--                        <div class="rbt-feature feature-style-1">-->
<!--                            <div class="icon bg-pink-opacity">-->
<!--                                <i class="feather-heart"></i>-->
<!--                            </div>-->
<!--                            <div class="feature-content">-->
<!--                                <h6 class="feature-title">Flexible Classes</h6>-->
<!--                                <p class="feature-description">It is a long established fact that a reader will-->
<!--                                    be distracted by this on readable content of when looking at its layout.</p>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="rbt-feature feature-style-1">-->
<!--                            <div class="icon bg-primary-opacity">-->
<!--                                <i class="feather-book"></i>-->
<!--                            </div>-->
<!--                            <div class="feature-content">-->
<!--                                <h6 class="feature-title">Learn From Anywhere</h6>-->
<!--                                <p class="feature-description">Sed distinctio repudiandae eos recusandae laborum eaque-->
<!--                                    non eius iure suscipit laborum eaque non eius iure suscipit.</p>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="rbt-feature feature-style-1">-->
<!--                            <div class="icon bg-coral-opacity">-->
<!--                                <i class="feather-monitor"></i>-->
<!--                            </div>-->
<!--                            <div class="feature-content">-->
<!--                                <h6 class="feature-title">Experienced Teacher's service.</h6>-->
<!--                                <p class="feature-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.-->
<!--                                    Officia, aliquid mollitia Officia, aliquid mollitia.</p>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>

                    <!-- End Feature List  -->
<!--                    <div class="about-btn mt&#45;&#45;40">-->
<!--                        <a class="rbt-btn btn-gradient hover-icon-reverse" th:href="@{/contacts}">-->
<!--                                <span class="icon-reverse-wrapper">-->
<!--                            <span class="btn-text">Contact Us</span>-->
<!--                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>-->
<!--                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>-->
<!--                                </span>-->
<!--                        </a>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Area  -->

<!-- Start Button Area  -->
<!--<div class="rbt-video-area rbt-section-gapBottom pt&#45;&#45;50 bg-color-white">-->
<!--    <div class="container mx-auto">-->
<!--        <div class="row g-5 align-items-center">-->
<!--            <div class="col-lg-6 order-2 order-lg-1">-->
<!--                <div class="inner pr&#45;&#45;50">-->
<!--                    <div class="section-title text-start">-->

<!--                        <h2 class="title">Build your Career And Upgrade Your Life</h2>-->
<!--                        <p class="description mt&#45;&#45;30">Far far away, behind the word mountains, far from the-->
<!--                            countries Vokalia and Consonantia, there live the blind texts. Separated they live in-->
<!--                            Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>-->
<!--                        <div class="read-more-btn">-->
<!--                            <a class="rbt-moderbt-btn" th:href="@{/contacts}">-->
<!--                                <span class="moderbt-btn-text">Conatct Us</span>-->
<!--                                <i class="feather-arrow-right"></i>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-6 order-1 order-lg-2">-->
<!--                <div class="video-popup-wrapper">-->
<!--                    <img class="w-100 rbt-radius" src="../static/assets/images/others/video-01.jpg" alt="Video Images">-->
<!--                    <a class="popup-video position-to-top" href="https://www.youtube.com/watch?v=nA1Aqp0sPQo">-->
<!--                        <span><img src="../static/assets/images/icons/youtube.png" alt=""></span>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- End Button Area  -->

    <div class="row g-5">
        <div class="col-lg-12 mb--60">
            <div class="section-title text-center">

                <h2 class="title">Authors</h2>
            </div>
        </div>
    </div>

<div class="col-md-9 offset-lg-3 col-md-8 ">
    <div class="row">
        <div class="col-md-4">
            <div class="rbt-team team-style-default style-three rbt-hover">
                <div class="inner">
                    <div class="thumbnail"><img src="../static/assets/images/authors/atanas_picture.png"
                                                th:src="@{/assets/images/authors/atanas_picture.png}"
                                                alt="Corporate Template">
                    </div>
                    <div class="content">
                        <h2 class="title" style="font-size: 29px">Atanas Manolev</h2>
                        <h6 class="subtitle theme-gradient">Developer</h6>
                        <span class="team-form">
                    <i class="feather-map-pin"></i>
                    <span class="location">Sofia, Bulgaria</span>
                </span>
                        <span class="team-form">
                    <i class="feather-mail"></i>
                    <span style="font-size: 13px">atanasmanolev86@gmail.com</span>
                </span>
                        <span>
                    <i class="feather-linkedin"></i>
                    <a href="https://www.linkedin.com/in/atanas-manolev-a67215251" target="_blank">atanas manolev</a>
                </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second Team Member -->
        <div class="col-md-4">
            <div class="rbt-team team-style-default style-three rbt-hover">
                <div class="inner">
                    <div class="thumbnail"><img src="../static/assets/images/authors/viktor_picture.png"
                                                th:src="@{/assets/images/authors/viktor_picture.png}"
                                                alt="Corporate Template">
                    </div>
                    <div class="content">
                        <h2 class="title" style="font-size: 29px">Viktor Mitrev</h2>
                        <h6 class="subtitle theme-gradient">Developer</h6>
                        <span class="team-form">
                    <i class="feather-map-pin"></i>
                    <span>Sofia, Bulgaria</span>
                </span>
                        <span class="team-form">
                    <i class="feather-mail"></i>
                    <span style="font-size: 13px">viktorivmitrev@gmail.com</span>
                </span>
                        <span>
                    <i class="feather-linkedin"></i>
                    <a href="https://www.linkedin.com/in/vikmit7/" target="_blank">viktor mitrev</a>
                </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- JS
============================================ -->
<script src="/static/js/vendor/modernizr.min.js" th:src="@{/js/vendor/modernizr.min.js}"></script>
<script src="/static/js/vendor/jquery.js" th:src="@{/js/vendor/jquery.js}"></script>
<script src="/static/js/vendor/bootstrap.min.js" th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script src="/static/js/vendor/sal.js" th:src="@{/js/vendor/sal.js}"></script>
<script src="/static/js/vendor/swiper.js" th:src="@{/js/vendor/swiper.js}"></script>
<script src="/static/js/vendor/magnify.min.js" th:src="@{/js/vendor/magnify.min.js}"></script>
<script src="/static/js/vendor/jquery-appear.js" th:src="@{/js/vendor/jquery-appear.js}"></script>
<script src="/static/js/vendor/odometer.js" th:src="@{/js/vendor/odometer.js}"></script>
<script src="/static/js/vendor/backtotop.js" th:src="@{/js/vendor/backtotop.js}"></script>
<script src="/static/js/vendor/isotop.js" th:src="@{/js/vendor/isotop.js}"></script>
<script src="/static/js/vendor/imageloaded.js" th:src="@{/js/vendor/imageloaded.js}"></script>
<script src="/static/js/vendor/wow.js" th:src="@{/js/vendor/wow.js}"></script>
<script src="/static/js/vendor/waypoint.min.js" th:src="@{/js/vendor/waypoint.min.js}"></script>
<script src="/static/js/vendor/easypie.js" th:src="@{/js/vendor/easypie.js}"></script>
<script src="/static/js/vendor/text-type.js" th:src="@{/js/vendor/text-type.js}"></script>
<script src="/static/js/vendor/jquery-one-page-nav.js" th:src="@{/js/vendor/jquery-one-page-nav.js}"></script>
<script src="/static/js/vendor/bootstrap-select.min.js" th:src="@{/js/vendor/bootstrap-select.min.js}"></script>
<script src="/static/js/vendor/jquery-ui.js" th:src="@{/js/vendor/jquery-ui.js}"></script>
<script src="/static/js/vendor/magnify-popup.min.js" th:src="@{/js/vendor/magnify-popup.min.js}"></script>
<script src="/static/js/vendor/paralax-scroll.js" th:src="@{/js/vendor/paralax-scroll.js}"></script>
<script src="/static/js/vendor/paralax.min.js" th:src="@{/js/vendor/paralax.min.js}"></script>
<script src="/static/js/vendor/countdown.js" th:src="@{/js/vendor/countdown.js}"></script>
<script src="/static/js/vendor/plyr.js" th:src="@{/js/vendor/plyr.js}"></script>
<script src="/static/js/main.js" th:src="@{/js/main.js}"></script>
</body>

</html>