<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Contact Page - Online Courses & Education Bootstrap5 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">





    <!-- CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/vendor/bootstrap.min.css" th:href="@{/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick.css" th:href="@{/css/vendor/slick.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick-theme.css" th:href="@{/css/vendor/slick-theme.css}">
    <link rel="stylesheet" href="../static/css/plugins/sal.css" th:href="@{/css/plugins/sal.css}">
    <link rel="stylesheet" href="../static/css/plugins/feather.css" th:href="@{/css/plugins/feather.css}">
    <link rel="stylesheet" href="../static/css/plugins/fontawesome.min.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/plugins/euclid-circulara.css"
          th:href="@{/css/plugins/euclid-circulara.css}">
    <link rel="stylesheet" href="../static/css/plugins/swiper.css" th:href="@{/css/plugins/swiper.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnify.css" th:href="@{/css/plugins/magnify.css}">
    <link rel="stylesheet" href="../static/css/plugins/odometer.css" th:href="@{/css/plugins/odometer.css}">
    <link rel="stylesheet" href="../static/css/plugins/animation.css" th:href="@{/css/plugins/animation.css}">
    <link rel="stylesheet" href="../static/css/plugins/bootstrap-select.min.css"
          th:href="@{/css/plugins/bootstrap-select.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/jquery-ui.css" th:href="@{/css/plugins/jquery-ui.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnigy-popup.min.css"
          th:href="@{/css/plugins/magnigy-popup.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/plyr.css" th:href="@{/css/plugins/plyr.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<header class="rbt-header rbt-header-10">
    <div class="rbt-header-wrapper header-space-betwween header-sticky">
        <form th:replace="~{forms.html::header}"></form>
    </div>
</header>
<body class="rbt-header-sticky">


<a class="close_side_menu" href="javascript:void(0);"></a>

<div class="rbt-conatct-area bg-gradient-11 rbt-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center mb--60">
                    <h2 class="title">Contact Us</h2>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-delay="150" data-sal-duration="800">
                <div class="rbt-address">
                    <div class="icon">
                        <i class="feather-headphones"></i>
                    </div>
                    <div class="inner">
                        <h4 class="title">Contact Phone Number</h4>
                        <p><a href="tel:+444555666777">+444 555 666 777</a></p>
                        <p><a href="tel:+222222222333">+222 222 222 333</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-delay="200" data-sal-duration="800">
                <div class="rbt-address">
                    <div class="icon">
                        <i class="feather-mail"></i>
                    </div>
                    <div class="inner">
                        <h4 class="title">Our Email Address</h4>
                        <p><a href="mailto:admin@gmail.com">admin@gmail.com</a></p>
                        <p><a href="mailto:example@gmail.com">example@gmail.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-delay="250" data-sal-duration="800">
                <div class="rbt-address">
                    <div class="icon">
                        <i class="feather-map-pin"></i>
                    </div>
                    <div class="inner">
                        <h4 class="title">Our Location</h4>
                        <p>5678 Bangla Main Road, cities 580 <br> GBnagla, example 54786</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rbt-contact-address">
    <div class="container">
        <div class="row g-5">


            <div class="col-lg-6 mx-auto">
                <div class="rbt-contact-form contact-form-style-1 max-width-auto">

                    <h3 class="title">Get a Free Course You Can Contact With Me</h3>
                    <form id="contact-form" method="POST" action="mail.php" class="rainbow-dynamic-form max-width-auto">
                        <div class="form-group">
                            <input name="contact-name" id="contact-name" type="text">
                            <label>Name</label>
                            <span class="focus-border"></span>
                        </div>
                        <div class="form-group">
                            <input name="contact-phone" type="email">
                            <label>Email</label>
                            <span class="focus-border"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" id="subject" name="subject">
                            <label>Your Subject</label>
                            <span class="focus-border"></span>
                        </div>
                        <div class="form-group">
                            <textarea name="contact-message" id="contact-message"></textarea>
                            <label>Message</label>
                            <span class="focus-border"></span>
                        </div>
                        <div class="form-submit-group">
                            <button name="submit" type="submit" id="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse w-100">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">GET IT NOW</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rbt-google-map bg-color-white rbt-section-gapTop">
    <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2965.0824050173574!2d-93.63905729999999!3d41.998507000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sWebFilings%2C+University+Boulevard%2C+Ames%2C+IA!5e0!3m2!1sen!2sus!4v1390839289319" height="600" style="border:0"></iframe>
</div>


<div class="rbt-progress-parent">
    <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>

<!-- JS
============================================ -->
<!-- Modernizer JS -->
<script src="/static/js/vendor/modernizr.min.js" th:src="@{/js/vendor/modernizr.min.js}"></script>
<script src="/static/js/vendor/jquery.js" th:src="@{/js/vendor/jquery.js}"></script>
<script src="/static/js/vendor/bootstrap.min.js" th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script src="/static/js/vendor/sal.js" th:src="@{/js/vendor/sal.js}"></script>
<script src="/static/js/vendor/swiper.js" th:src="@{/js/vendor/swiper.js}"></script>
<script src="/static/js/vendor/magnify.min.js" th:src="@{/js/vendor/magnify.min.js}"></script>
<script src="/static/js/vendor/jquery-appear.js" th:src="@{/js/vendor/jquery-appear.js}"></script>
<script src="/static/js/vendor/odometer.js" th:src="@{/js/vendor/odometer.js}"></script>
<script src="/static/js/vendor/backtotop.js" th:src="@{/js/vendor/backtotop.js}"></script>
<script src="/static/js/vendor/isotop.js" th:src="@{/js/vendor/isotop.js}"></script>
<script src="/static/js/vendor/imageloaded.js" th:src="@{/js/vendor/imageloaded.js}"></script>
<script src="/static/js/vendor/wow.js" th:src="@{/js/vendor/wow.js}"></script>
<script src="/static/js/vendor/waypoint.min.js" th:src="@{/js/vendor/waypoint.min.js}"></script>
<script src="/static/js/vendor/easypie.js" th:src="@{/js/vendor/easypie.js}"></script>
<script src="/static/js/vendor/text-type.js" th:src="@{/js/vendor/text-type.js}"></script>
<script src="/static/js/vendor/jquery-one-page-nav.js" th:src="@{/js/vendor/jquery-one-page-nav.js}"></script>
<script src="/static/js/vendor/bootstrap-select.min.js" th:src="@{/js/vendor/bootstrap-select.min.js}"></script>
<script src="/static/js/vendor/jquery-ui.js" th:src="@{/js/vendor/jquery-ui.js}"></script>
<script src="/static/js/vendor/magnify-popup.min.js" th:src="@{/js/vendor/magnify-popup.min.js}"></script>
<script src="/static/js/vendor/paralax-scroll.js" th:src="@{/js/vendor/paralax-scroll.js}"></script>
<script src="/static/js/vendor/paralax.min.js" th:src="@{/js/vendor/paralax.min.js}"></script>
<script src="/static/js/vendor/countdown.js" th:src="@{/js/vendor/countdown.js}"></script>
<script src="/static/js/vendor/plyr.js" th:src="@{/js/vendor/plyr.js}"></script>
<script src="/static/js/main.js" th:src="@{/js/main.js}"></script>

</body>

</html>