<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<div th:fragment="header">
    <div class="container-fluid">
        <div class="mainbar-row rbt-navigation-center align-items-center">
            <div class="header-left rbt-header-content">
                <div class="header-info">
                    <div class="logo">
                        <a href="index.html">
                            <img src="/static/assets/images/logo/logo.png" alt="Education Logo Images"
                                 th:src="@{/assets/images/logo/logo.png}">
                        </a>
                    </div>
                </div>
            </div>

            <div class="rbt-main-navigation d-none d-xl-block">
                <nav class="mainmenu-nav">
                    <ul class="mainmenu">
                        <li class="with-megamenu has-menu-child-item position-static">
                            <a href="#">Home <i></i></a>
                        </li>
                        <li class="has-dropdown has-menu-child-item">
                            <a href="#">Courses
                                <i class="feather-chevron-down"></i>
                            </a>
                            <ul class="submenu">
                                <li class="has-dropdown"><a href="#">All courses</a>
                                </li>
                                <li class="has-dropdown"><a href="#">My courses</a>
                                </li>
                            </ul>
                        </li>

                        <li class="with-megamenu has-menu-child-item position-static">
                            <a href="#">About <i></i></a>
                        </li>
                        <li class="with-megamenu has-menu-child-item position-static">
                            <a href="#">Contact us <i></i></a>
                        </li>

                        <li class="has-dropdown has-menu-child-item" th:if="${session.currentUser != null and (session.currentUser.role.roleType =='teacher' or session.currentUser.role.roleType == 'admin')}"

                        >
                            <a href="#">Admin panel
                                <i class="feather-chevron-down"></i>
                            </a>
                            <ul class="submenu">
                                <li class="has-dropdown"><a href="#">Search users</a>
                                </li>
                                <li class="has-dropdown"><a href="#">Something else</a>
                                </li>
                            </ul>
                        </li>

                        <li class="with-megamenu has-menu-child-item position-static">
                            <a href="#">Elements <i class="feather-chevron-down"></i></a>
                            <!-- Start Mega Menu  -->
                            <div class="rbt-megamenu grid-item-3">
                                <div class="wrapper">
                                    <div class="row row--15 single-dropdown-menu-presentation">
                                        <div class="col-lg-4 col-xxl-4 single-mega-item">
                                            <ul class="mega-menu-item">
                                                <li><a href="style-guide.html">Style Guide <span
                                                        class="rbt-badge-card">Hot</span></a></li>
                                                <li><a href="accordion.html">Accordion</a></li>
                                                <li><a href="advancetab.html">Advance Tab</a></li>
                                                <li><a href="brand.html">Brand</a></li>
                                                <li><a href="button.html">Button</a></li>
                                                <li><a href="badge.html">Badge</a></li>
                                                <li><a href="card.html">Card</a></li>
                                                <li><a href="call-to-action.html">Call To Action</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-lg-4 col-xxl-4 single-mega-item">
                                            <ul class="mega-menu-item">
                                                <li><a href="counterup.html">Counter</a></li>
                                                <li><a href="category.html">Categories</a></li>
                                                <li><a href="header.html">Header Style</a></li>
                                                <li><a href="newsletter.html">Newsletter</a></li>
                                                <li><a href="team.html">Team</a></li>
                                                <li><a href="social.html">Social</a></li>
                                                <li><a href="list-style.html">List Style</a></li>
                                                <li><a href="gallery.html">Gallery</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-lg-4 col-xxl-4 single-mega-item">
                                            <ul class="mega-menu-item">
                                                <li><a href="pricing.html">Pricing</a></li>
                                                <li><a href="progressbar.html">Progressbar</a></li>
                                                <li><a href="testimonial.html">Testimonial</a></li>
                                                <li><a href="service.html">Service</a></li>
                                                <li><a href="split.html">Split Area</a></li>
                                                <li><a href="search.html">Search Style</a></li>
                                                <li><a href="instagram.html">Instagram Style</a></li>
                                                <li><a href="#">& More Coming</a></li>

                                            </ul>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="btn-wrapper">
                                                <a class="rbt-btn btn-gradient hover-icon-reverse square btn-xl w-100 text-center mt--30 hover-transform-none"
                                                   href="#">
                                                            <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Visit Histudy Template</span>
                                                            <span class="btn-icon"><i
                                                                    class="feather-arrow-right"></i></span>
                                                            <span class="btn-icon"><i
                                                                    class="feather-arrow-right"></i></span>
                                                            </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Mega Menu  -->
                        </li>

                    </ul>
                </nav>
            </div>

            <div class="header-right">

                <!-- Navbar Icons -->
                <ul class="quick-access">

                    <li class="account-access rbt-user-wrapper d-none d-xl-block"
                        th:if="${session.currentUser == null}">
                        <a href="#"><i class="feather-user"></i>Login</a>
                    </li>
                    <li class="account-access rbt-user-wrapper d-none d-xl-block"
                        th:if="${session.currentUser != null}">
                        <a href="#"><i class="feather-user"></i>User</a>
                        <div class="rbt-user-menu-list-wrapper">
                            <div class="inner">
                                <div class="rbt-admin-profile">
                                    <div class="admin-thumbnail">
                                        <img src="../static/assets/images/team/avatar.jpg" alt="User Images" th:src="${session.currentUser.pictureUrl}">
                                    </div>
                                    <div class="admin-info">
                                        <span class="name" th:text="${session.currentUser.firstName + ' ' + session.currentUser.lastName}">Viktor Mitrev</span>
                                    </div>
                                </div>
                                <ul class="user-list-wrapper">
                                    <li>
                                        <a href="instructor-dashboard.html" th:href="@{/users/{id}(id=${session.currentUser.userId})}">
                                            <i class="feather-home"></i>
                                            <span >My Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="instructor-enrolled-courses.html">
                                            <i class="feather-shopping-bag"></i>
                                            <span>Enrolled Courses</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="instructor-reviews.html">
                                            <i class="feather-star"></i>
                                            <span>Reviews</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="instructor-my-quiz-attempts.html">
                                            <i class="feather-list"></i>
                                            <span>My Quiz Attempts</span>
                                        </a>
                                    </li>

                                </ul>
                                <hr class="mt--10 mb--10">
                                <ul class="user-list-wrapper">
                                    <li>
                                        <a href="instructor-settings.html">
                                            <i class="feather-settings"></i>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index.html">
                                            <i class="feather-log-out"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="rbt-btn-wrapper d-none d-xl-block">
                    <a class="rbt-btn  btn-border-gradient radius-round btn-sm " href="#"
                       th:if="${session.currentUser == null}">
                        <span data-text="Enroll Now">Register</span>
                    </a>
                    <a th:if="${session.currentUser != null}"
                       class="rbt-btn btn-border-gradient radius-round btn-sm" href="/referral">
                        <span data-text="Refer Friend">Refer Friend</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

</html>