<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/assets/images/favicon.png">
    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="../static/css/vendor/bootstrap.min.css" th:href="@{/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick.css" th:href="@{/css/vendor/slick.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick-theme.css" th:href="@{/css/vendor/slick-theme.css}">
    <link rel="stylesheet" href="../static/css/plugins/sal.css" th:href="@{/css/plugins/sal.css}">
    <link rel="stylesheet" href="../static/css/plugins/feather.css" th:href="@{/css/plugins/feather.css}">
    <link rel="stylesheet" href="../static/css/plugins/fontawesome.min.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/plugins/euclid-circulara.css"
          th:href="@{/css/plugins/euclid-circulara.css}">
    <link rel="stylesheet" href="../static/css/plugins/swiper.css" th:href="@{/css/plugins/swiper.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnify.css" th:href="@{/css/plugins/magnify.css}">
    <link rel="stylesheet" href="../static/css/plugins/odometer.css" th:href="@{/css/plugins/odometer.css}">
    <link rel="stylesheet" href="../static/css/plugins/animation.css" th:href="@{/css/plugins/animation.css}">
    <link rel="stylesheet" href="../static/css/plugins/bootstrap-select.min.css"
          th:href="@{/css/plugins/bootstrap-select.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/jquery-ui.css" th:href="@{/css/plugins/jquery-ui.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnigy-popup.min.css"
          th:href="@{/css/plugins/magnigy-popup.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/plyr.css" th:href="@{/css/plugins/plyr.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body class="rbt-header-sticky">
<!-- Start Header Area -->
<header class="rbt-header rbt-header-10">
    <!--<div class="rbt-sticky-placeholder"></div>-->
    <div class="rbt-header-wrapper header-space-betwween header-sticky">
        <form th:replace="~{forms.html::header}"></form>
    </div>
</header>
<!-- Mobile Menu Section -->
<div class="popup-mobile-menu">
    <div class="inner-wrapper">
        <div class="inner-top">
            <div class="content">
                <div class="logo">
                    <a href="index.html">
                        <img src="../static/assets/images/logo/logo.png" alt="Education Logo Images">
                    </a>
                </div>
                <div class="rbt-btn-close">
                    <button class="close-button rbt-round-btn"><i class="feather-x"></i></button>
                </div>
            </div>
            <p class="description">Histudy is a education website template. You can customize all.</p>
            <ul class="navbar-top-left rbt-information-list justify-content-start">
                <li>
                    <a href="mailto:hello@example.com"><i class="feather-mail"></i>example@gmail.com</a>
                </li>
                <li>
                    <a href="#"><i class="feather-phone"></i>(302) 555-0107</a>
                </li>
            </ul>
        </div>
        <nav class="mainmenu-nav">
            <ul class="mainmenu">
                <li class="with-megamenu has-menu-child-item position-static">
                    <a href="#">Home <i class="feather-chevron-down"></i></a>
                    <!-- Start Mega Menu  -->
                    <div class="rbt-megamenu menu-skin-dark">
                        <div class="wrapper">
                            <div class="row row--15 home-plesentation-wrapper single-dropdown-menu-presentation">
                            </div>
                            <div class="load-demo-btn text-center">
                                <a class="rbt-btn-link color-white" href="#">Scroll to view more
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Mega Menu  -->
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="rbt-page-banner-wrapper">
    <!-- Start Banner BG Image  -->
    <div class="rbt-banner-image"></div>
    <!-- End Banner BG Image  -->
    <div class="rbt-banner-content">
        <!-- Start Banner Content Top  -->
        <div class="rbt-banner-content-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Start Breadcrumb Area  -->

                        <!-- End Breadcrumb Area  -->
                        <div class=" title-wrapper">
                            <h1 class="title mb--0">Grades</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Content Top  -->
        <!-- Start Course Top  -->
        <div class="rbt-course-top-wrapper mt--40 mt_sm--20">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5 col-md-12">
                        <div class="rbt-sorting-list d-flex flex-wrap align-items-center"></div>
                    </div>
                </div>
                <!-- Start Filter Toggle  -->
                <!--                <form action="#" th:action="@{/users}" method="get" th:object="${filterOptionsUsers}">-->
                <!--                    <div class="default-exp-wrapper">-->
                <!--                        <div class="filter-inner">-->
                <!--                            <div class="filter-select-option">-->
                <!--                                <div class="filter-select rbt-modern-select rbt-search-style me-0">-->
                <!--                                    <span class="select-label d-block">Email</span>-->
                <!--                                    <label>-->
                <!--                                        <input type="text" th:field="*{email}">-->
                <!--                                    </label>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                            <div class="filter-select-option">-->
                <!--                                <div class="filter-select rbt-modern-select rbt-search-style me-0">-->
                <!--                                    <span class="select-label input-label d-block">First Name</span>-->
                <!--                                    <label>-->
                <!--                                        <input type="text" th:field="*{firstName}">-->
                <!--                                    </label>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                            <div class="filter-select-option">-->
                <!--                                <div class="filter-select rbt-modern-select rbt-search-style me-0">-->
                <!--                                    <span class="select-label input-label d-block">Last Name</span>-->
                <!--                                    <label>-->
                <!--                                        <input type="text" th:field="*{lastName}">-->
                <!--                                    </label>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                            <div class="filter-select-option">-->
                <!--                                <div class="filter-select rbt-modern-select">-->
                <!--                                    <span class="select-label input-label d-block">Role</span>-->
                <!--                                    <div>-->
                <!--                                        <select th:field="*{role}">-->
                <!--                                            <option value="#" th:value="${''}" th:text="${'none'}">Select Role-->
                <!--                                            </option>-->
                <!--                                            <option th:each="role : ${roles}"-->
                <!--                                                    th:value="${role.roleType}"-->
                <!--                                                    th:text="${role.roleType}">-->
                <!--                                                Topic-->
                <!--                                            </option>-->
                <!--                                        </select>-->
                <!--                                    </div>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                            <div class="filter-select-option">-->
                <!--                                <div class="filter-select rbt-modern-select">-->
                <!--                                    <span class="select-label d-block">Sort By</span>-->
                <!--                                    <div>-->
                <!--                                        <select th:field="*{sortBy}">-->
                <!--                                            <option value="#" th:value="${null}" th:text="${'Sort By'}">Sort by</option>-->
                <!--                                            <option th:text="${'email'}" th:value="${'email'}">Email</option>-->
                <!--                                            <option th:text="${'First Name'}" th:value="${'firstName'}">First Name</option>-->
                <!--                                            <option th:text="${'Last Name'}" th:value="${'lastName'}">First Name</option>-->
                <!--                                            <option th:text="${'Last Name'}" th:value="${'lastName'}">Last Name</option>-->
                <!--                                            <option th:text="${'Role'}" th:value="${'roleType'}">Role</option>-->
                <!--                                        </select>-->
                <!--                                    </div>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                            <div class="filter-select-option">-->
                <!--                                <div class="filter-select rbt-modern-select">-->
                <!--                                    <span class="select-label d-block">Order</span>-->
                <!--                                    <div>-->
                <!--                                        <select th:field="*{sortOrder}">-->
                <!--                                            &lt;!&ndash;<option value="#" th:value="${null}" th:text="${'Order'}" >Order</option>&ndash;&gt;-->
                <!--                                            <option th:text="${'Ascending'}" th:value="${null}">name</option>-->
                <!--                                            <option th:text="${'Descending'}" th:value="${'desc'}">rating</option>-->
                <!--                                        </select>-->
                <!--                                    </div>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                            <button class="rbt-btn btn-gradient btn-sm" href="#" type="submit">Filter</button>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </form>-->
            </div>
            <!-- End Filter Toggle  -->

        </div>
    </div>
    <!-- End Course Top  -->

</div>
</div>
<div style="padding-bottom: 200px"></div>

<div class="rbt-section-overlayping-top rbt-section-gapBottom">
    <div class="inner">
        <div class="container">
            <div>
                <div class="quiz-window-body">
                    <div class="content-container" style="border-radius: 10px;">
                        <div class="quiz-window-body">
                            <div class="gui-window-awards">
                                <ul class="guiz-awards-row guiz-awards-header">
                                    <li class="guiz-awards-header-track" style="width: 10%">First Name</li>
                                    <li class="guiz-awards-header-track" style="width: 12%">Last Name</li>
                                    <li class="guiz-awards-header-track" style="width: 23%">Email</li>
                                    <li class="guiz-awards-header-track" style="width: 20%">Solution</li>
                                    <li class="guiz-awards-header-track" style="width: 10%">Grade</li>
                                    <li class="guiz-awards-header-track" style="width: 25%">New Grade</li>


                                    <!--Start-->
                                </ul>
                                <ul class="guiz-awards-row guiz-awards-row-even"
                                    th:each="solution : ${solutionList}">
                                    <li class="guiz-awards-track" style="width: 10%" th:text="${solution.firstName}">
                                        testID
                                    </li>
                                    <li class="guiz-awards-track" style="width: 12% " th:text="${solution.lastName}">
                                        testLastName
                                    </li>
                                    <li class="guiz-awards-track" style="width: 23%" th:text="${solution.email}">
                                        TestFirstName
                                    </li>
                                    <li class="guiz-awards-track" style="width: 20%" th:text="${solution.solutionUrl}">
                                        TestFirstName
                                    </li>
                                    <li class="guiz-awards-track" style="width: 10%" th:text="${solution.grade}">
                                        TestRole
                                    </li>
                                    <li class="guiz-awards-track" style="width: 25%">
                                        <form action="#" th:action="@{/course/{courseId}/lecture/{lectureId}/user/{userId}/grade(courseId=${solution.courseId},lectureId=${solution.lectureId},userId=${solution.userId})}" method="post" class="d-flex align-items-center">
                                            <input type="number" name ="grade" min="2" max="6" step="0.5" class="form-control mr-2"
                                                   style="width: 80px;">
                                            <button class="rbt-btn btn-gradient btn-sm" type="submit"
                                                    style="width: 110px; background: green !important; margin-left: 8px;">
                                                Grade
                                            </button>
                                        </form>
                                    </li>
                                    <!-- th:action="@{/course/{courseId}/lecture/{lectureId}/user/{userId}/grade()}"-->

                                </ul>
                                <!--Stop-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function confirmDeleteUser() {
        const confirmation = confirm('Are you sure you want to delete this user?');
        if (confirmation) {
            window.location.href = '/user/settings/delete';
        }
    }
</script>


<!-- JS
============================================ -->
<!-- Modernizer JS -->
<script src="/js/vendor/modernizr.min.js"></script>
<!-- jQuery JS -->
<script src="/js/vendor/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="/js/vendor/bootstrap.min.js"></script>
<!-- sal.js -->
<script src="/js/vendor/sal.js"></script>
<script src="/js/vendor/swiper.js"></script>
<script src="/js/vendor/magnify.min.js"></script>
<script src="/js/vendor/jquery-appear.js"></script>
<script src="/js/vendor/odometer.js"></script>
<script src="/js/vendor/backtotop.js"></script>
<script src="/js/vendor/isotop.js"></script>
<script src="/js/vendor/imageloaded.js"></script>

<script src="/js/vendor/wow.js"></script>
<script src="/js/vendor/waypoint.min.js"></script>
<script src="/js/vendor/easypie.js"></script>
<script src="/js/vendor/text-type.js"></script>
<script src="/js/vendor/jquery-one-page-nav.js"></script>
<script src="/js/vendor/bootstrap-select.min.js"></script>
<script src="/js/vendor/jquery-ui.js"></script>
<script src="/js/vendor/magnify-popup.min.js"></script>
<script src="/js/vendor/paralax-scroll.js"></script>
<script src="/js/vendor/paralax.min.js"></script>
<script src="/js/vendor/countdown.js"></script>
<script src="/js/vendor/plyr.js"></script>
<!-- Main JS -->
<script src="/js/main.js"></script>
</body>