<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/assets/images/favicon.png">
    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="../static/css/vendor/bootstrap.min.css" th:href="@{/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick.css" th:href="@{/css/vendor/slick.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick-theme.css" th:href="@{/css/vendor/slick-theme.css}">
    <link rel="stylesheet" href="../static/css/plugins/sal.css" th:href="@{/css/plugins/sal.css}">
    <link rel="stylesheet" href="../static/css/plugins/feather.css" th:href="@{/css/plugins/feather.css}">
    <link rel="stylesheet" href="../static/css/plugins/fontawesome.min.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/plugins/euclid-circulara.css" th:href="@{/css/plugins/euclid-circulara.css}">
    <link rel="stylesheet" href="../static/css/plugins/swiper.css" th:href="@{/css/plugins/swiper.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnify.css" th:href="@{/css/plugins/magnify.css}">
    <link rel="stylesheet" href="../static/css/plugins/odometer.css" th:href="@{/css/plugins/odometer.css}">
    <link rel="stylesheet" href="../static/css/plugins/animation.css" th:href="@{/css/plugins/animation.css}">
    <link rel="stylesheet" href="../static/css/plugins/bootstrap-select.min.css" th:href="@{/css/plugins/bootstrap-select.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/jquery-ui.css" th:href="@{/css/plugins/jquery-ui.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnigy-popup.min.css" th:href="@{/css/plugins/magnigy-popup.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/plyr.css" th:href="@{/css/plugins/plyr.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body class="rbt-header-sticky">
<!-- Start Header Area -->
<header class="rbt-header rbt-header-10">
    <!--<div class="rbt-sticky-placeholder"></div>-->
    <div class="rbt-header-wrapper header-space-betwween header-sticky">
        <form th:replace="~{forms.html::header}"></form>
    </div>
</header>
<!-- Mobile Menu Section -->
<div class="popup-mobile-menu">
    <div class="inner-wrapper">
        <div class="inner-top">
            <div class="content">
                <div class="logo">
                    <a href="index.html">
                        <img src="../static/assets/images/logo/logo.png" alt="Education Logo Images">
                    </a>
                </div>
                <div class="rbt-btn-close">
                    <button class="close-button rbt-round-btn"><i class="feather-x"></i></button>
                </div>
            </div>
            <p class="description">Histudy is a education website template. You can customize all.</p>
            <ul class="navbar-top-left rbt-information-list justify-content-start">
                <li>
                    <a href="mailto:hello@example.com"><i class="feather-mail"></i>example@gmail.com</a>
                </li>
                <li>
                    <a href="#"><i class="feather-phone"></i>(302) 555-0107</a>
                </li>
            </ul>
        </div>
        <nav class="mainmenu-nav">
            <ul class="mainmenu">
                <li class="with-megamenu has-menu-child-item position-static">
                    <a href="#">Home <i class="feather-chevron-down"></i></a>
                    <!-- Start Mega Menu  -->
                    <div class="rbt-megamenu menu-skin-dark">
                        <div class="wrapper">
                            <div class="row row--15 home-plesentation-wrapper single-dropdown-menu-presentation">
                            </div>
                            <div class="load-demo-btn text-center">
                                <a class="rbt-btn-link color-white" href="#">Scroll to view more
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Mega Menu  -->
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="rbt-page-banner-wrapper">
    <!-- Start Banner BG Image  -->
    <div class="rbt-banner-image"></div>
    <!-- End Banner BG Image  -->
    <div class="rbt-banner-content">
        <!-- Start Banner Content Top  -->
        <div class="rbt-banner-content-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Start Breadcrumb Area  -->
                        <ul class="page-list">
                            <li class="rbt-breadcrumb-item"><a href="index.html">Home</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="rbt-breadcrumb-item active">All Courses</li>
                        </ul>
                        <!-- End Breadcrumb Area  -->
                        <div class=" title-wrapper">
                            <h1 class="title mb--0">All Courses</h1>
                            <div href="#" class="rbt-badge-2" th:text="${coursesCount} + ' Courses'">
                                <div></div>
                                50 Courses
                            </div>
                        </div>
                        <p class="description">Browse all available courses here. </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Content Top  -->
        <!-- Start Course Top  -->
        <div class="rbt-course-top-wrapper mt--40 mt_sm--20">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5 col-md-12">
                        <div class="rbt-sorting-list d-flex flex-wrap align-items-center">
                            <div class="rbt-short-item switch-layout-container">
                                <ul class="course-switch-layout">
                                    <li class="course-switch-item">
                                        <button class="rbt-grid-view active" title="Grid Layout"><i
                                                class="feather-grid"></i> <span class="text">Grid</span></button>
                                    </li>
                                    <li class="course-switch-item">
                                        <button class="rbt-list-view" title="List Layout"><i class="feather-list"></i>
                                            <span class="text">List</span></button>
                                    </li>
                                </ul>
                            </div>
                           <!-- <div class="rbt-short-item">
                                <span class="course-index">Showing 1-9 of 19 results</span>
                            </div>-->
                        </div>
                    </div>
                </div>
                <!-- Start Filter Toggle  -->
                <form action="#" th:action="@{/}" method="get" th:object="${filterOptions}">
                    <div class="default-exp-wrapper">
                        <div class="filter-inner">
                            <div class="filter-select-option">
                                <div class="filter-select rbt-modern-select rbt-search-style me-0">
                                    <span class="select-label d-block">Course name</span>
                                    <label>
                                        <input type="text" th:field="*{title}">
                                    </label>
                                </div>
                            </div>
                            <div class="filter-select-option">
                                <div class="filter-select rbt-modern-select rbt-search-style me-0">
                                    <span class="select-label input-label d-block">Teacher</span>
                                    <label>
                                        <input type="text" th:field="*{teacher}">
                                    </label>
                                </div>
                            </div>
                            <div class="filter-select-option">
                                <div class="filter-select rbt-modern-select">
                                    <span class="select-label input-label d-block">Topic</span>
                                    <div>
                                        <select th:field="*{topic}">
                                            <option value="#" th:value="${null}" th:text="${'none'}">Select topic
                                            </option>
                                            <option th:each="topic : ${topics}"
                                                    th:value="${topic.topic}"
                                                    th:text="${topic.topic}">
                                                Topic
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-select-option">
                                <div class="filter-select rbt-modern-select">
                                    <span class="select-label d-block">Rating</span>
                                    <select th:field="*{rating}">
                                        <!-- <option value="#" th:value="${null}" th:text="${'Select rating'}" >Rating</option>-->
                                        <option th:text="${0}" th:value="${0}">0</option>
                                        <option th:text="${1}" th:value="${1}">1</option>
                                        <option th:text="${2}" th:value="${2}">2</option>
                                        <option th:text="${3}" th:value="${3}">3</option>
                                        <option th:text="${4}" th:value="${4}">4</option>
                                        <option th:text="${5}" th:value="${5}">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="filter-select-option">
                                <div class="filter-select rbt-modern-select">
                                    <span class="select-label d-block">Sort By</span>
                                    <div>
                                        <select th:field="*{sortBy}">
                                            <
                                            <option value="#" th:value="${null}" th:text="${'Sort By'}">Sort by</option>
                                            >
                                            <option th:text="${'title'}" th:value="${'title'}">name</option>
                                            <option th:text="${'rating'}" th:value="${'rating'}">rating</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-select-option">
                                <div class="filter-select rbt-modern-select">
                                    <span class="select-label d-block">Order</span>
                                    <div>
                                        <select th:field="*{sortOrder}">
                                            <!--<option value="#" th:value="${null}" th:text="${'Order'}" >Order</option>-->
                                            <option th:text="${'Ascending'}" th:value="${null}">name</option>
                                            <option th:text="${'Descending'}" th:value="${'desc'}">rating</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button class="rbt-btn btn-gradient btn-sm" href="#" type="submit">Filter</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End Filter Toggle  -->
        </div>
    </div>
    <!-- End Course Top  -->
</div>
</div>
<div class="rbt-section-overlayping-top rbt-section-gapBottom">
    <div class="inner">
        <div class="container">
            <div class="rbt-course-grid-column">
                <!-- Start Single Card  -->
                <ul class="course-grid-3 content-course" th:each="course: ${courses}">
                    <li class="rbt-card variation-01 rbt-hover">
                        <div class="rbt-card-body">
                            <div class="rbt-card-top">
                                <div class="rbt-review">
                                    <div class="rating" th:text="${course.getAvgRating()}">
                                        Rating: 4/6
                                    </div>
                                </div>
                            </div>
                            <h4 class="rbt-card-title">
                                <a href="course-details.html" th:href="@{/courses/{id}(id=${course.getCourseId()})}"
                                   th:text="${course.getTitle()}">React Front To Back</a>
                            </h4>
                            <p class="rbt-meta">
                                <i class="feather-book"
                                   th:utext="${#temporals.format(course.getStartingDate(),'dd/MM/yyyy')}">
                                    12/12/2023</i>
                            </p>
                            <p class="rbt-card-text"
                               th:if="${course.getDescription().getDescription()!=null}"
                               th:text="${#strings.substring(course.getDescription().getDescription(),0,300)+'...'}">It
                                is a long-established fact that a reader will be
                                distracted.</p>
                            <p class="rbt-card-text"
                               th:unless="${course.getDescription().getDescription()!=null}"
                               th:text="${'Description not available'}">It
                                is a long-established fact that a reader will be
                                distracted.</p>
                            <div class="rbt-author-meta mb--10">
                                <div class="rbt-avater">
                                    <a href="#">
                                        <img src="/fileStorage/user-avatar.png"
                                             th:src="${course.getCreator().getPictureUrl()}">
                                    </a>
                                </div>
                                <div class="rbt-author-info"
                                     th:text="${course.creator.firstName + ' ' + course.creator.lastName}">
                                    By <a href="profile.html">Angela</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- End Single Card  -->
            </div>
        </div>
    </div>
</div>
<!-- JS
============================================ -->
<!-- Modernizer JS -->
<script src="/js/vendor/modernizr.min.js"></script>
<!-- jQuery JS -->
<script src="/js/vendor/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="/js/vendor/bootstrap.min.js"></script>
<!-- sal.js -->
<script src="/js/vendor/sal.js"></script>
<script src="/js/vendor/swiper.js"></script>
<script src="/js/vendor/magnify.min.js"></script>
<script src="/js/vendor/jquery-appear.js"></script>
<script src="/js/vendor/odometer.js"></script>
<script src="/js/vendor/backtotop.js"></script>
<script src="/js/vendor/isotop.js"></script>
<script src="/js/vendor/imageloaded.js"></script>

<script src="/js/vendor/wow.js"></script>
<script src="/js/vendor/waypoint.min.js"></script>
<script src="/js/vendor/easypie.js"></script>
<script src="/js/vendor/text-type.js"></script>
<script src="/js/vendor/jquery-one-page-nav.js"></script>
<script src="/js/vendor/bootstrap-select.min.js"></script>
<script src="/js/vendor/jquery-ui.js"></script>
<script src="/js/vendor/magnify-popup.min.js"></script>
<script src="/js/vendor/paralax-scroll.js"></script>
<script src="/js/vendor/paralax.min.js"></script>
<script src="/js/vendor/countdown.js"></script>
<script src="/js/vendor/plyr.js"></script>
<!-- Main JS -->
<script src="/js/main.js"></script>
</body>