<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Course Details</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/images/favicon.png}">

    <!-- CSS
      ============================================ -->
    <link rel="stylesheet" href="../static/css/vendor/bootstrap.min.css" th:href="@{/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick.css" th:href="@{/css/vendor/slick.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick-theme.css" th:href="@{/css/vendor/slick-theme.css}">
    <link rel="stylesheet" href="../static/css/plugins/sal.css" th:href="@{/css/plugins/sal.css}">
    <link rel="stylesheet" href="../static/css/plugins/feather.css" th:href="@{/css/plugins/feather.css}">
    <link rel="stylesheet" href="../static/css/plugins/fontawesome.min.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/plugins/euclid-circulara.css"
          th:href="@{/css/plugins/euclid-circulara.css}">
    <link rel="stylesheet" href="../static/css/plugins/swiper.css" th:href="@{/css/plugins/swiper.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnify.css" th:href="@{/css/plugins/magnify.css}">
    <link rel="stylesheet" href="../static/css/plugins/odometer.css" th:href="@{/css/plugins/odometer.css}">
    <link rel="stylesheet" href="../static/css/plugins/animation.css" th:href="@{/css/plugins/animation.css}">
    <link rel="stylesheet" href="../static/css/plugins/bootstrap-select.min.css"
          th:href="@{/css/plugins/bootstrap-select.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/jquery-ui.css" th:href="@{/css/plugins/jquery-ui.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnigy-popup.min.css"
          th:href="@{/css/plugins/magnigy-popup.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/plyr.css" th:href="@{/css/plugins/plyr.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>

<header class="rbt-header rbt-header-10">
    <div class="rbt-header-wrapper header-space-betwween header-sticky">
        <form th:replace="~{forms.html::header}"></form>
    </div>
</header>

<body>






<!-- Start breadcrumb Area -->
<div class="rbt-breadcrumb-default rbt-breadcrumb-style-3">
    <div class="breadcrumb-inner">
        <img th:src="@{/assets/images/bg/bg-image-10.jpg}" alt="Education Images">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="content text-start">
                    <ul class="page-list">
                        <li class="rbt-breadcrumb-item"><a th:href="@{/}">Home</a></li>
                        <li>
                            <div class="icon-right"><i class="feather-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active" th:text="${course.getTopic().getTopic()}">Web
                            Development
                        </li>
                    </ul>
                    <h2 class="title" th:text="${course.title}">Title</h2>


                    <div class="feature-sin rating">
                        <a href="#" th:text="${'Rating: ' + course.avgRating}">Raitng</a>

                    </div>


                </div>

                <div class="rbt-author-meta mb--20">
                    <div class="rbt-avater">
                        <a href="#">
                            <img th:src="@{/assets/images/client/avatar-02.png}" alt="Sophia Jaymes">
                        </a>
                    </div>
                    <div class="rbt-author-info">
                        By <a th:href="profile.html">Angela</a> In <a href="#">Development</a>
                    </div>
                </div>

                <ul class="rbt-meta">
                    <li><i class="feather-calendar"></i>Last updated 12/2024</li>
                    <li><i class="feather-globe"></i>English</li>
                    <li><i class="feather-award"></i>Certified Course</li>
                </ul>

            </div>
        </div>
    </div>
</div>
</div>
<!-- End Breadcrumb Area -->

<div class="rbt-course-details-area ptb--60">
    <div class="container">
        <div class="row g-5">

            <div class="col-lg-8">
                <div class="course-details-content">


                    <!-- Start Course Feature Box  -->
                    <div class="rbt-course-feature-box overview-wrapper rbt-shadow-box mt--30 has-show-more"
                         id="overview">
                        <div class="rbt-course-feature-inner has-show-more-inner-content">
                            <div class="section-title">
                                <h4 class="rbt-title-style-3">Description</h4>
                            </div>

                            <div class="row g-5 mb--30">


                            </div>
                            <p th:text="${course.description.description}">Description</p>
                        </div>
                        <!--            <div class="rbt-show-more-btn">Show More</div>-->
                    </div>
                    <!-- End Course Feature Box  -->

                    <!-- Start Course Content  -->
                    <div class="course-content rbt-shadow-box coursecontent-wrapper mt--30" id="coursecontent"
                         th:unless="${course.lectures.isEmpty()}">
                        <div class="rbt-course-feature-inner">
                            <div class="section-title">
                                <h4 class="rbt-title-style-3">Course Lectures</h4>
                            </div>
                            <div class="rbt-accordion-style rbt-accordion-02 accordion">
                                <div class="accordion" id="accordionExampleb2">

                                    <div class="accordion-item card" th:each="lecture: ${course.lectures}">
                                        <div class="accordion-header card-header justify-content-between d-flex align-items-center">
                                            <div class="d-flex align-items-center">
                                                <a th:text="${lecture.title}"
                                                   th:href="@{/course/{courseId}/lecture/{lectureId}(courseId=${course.courseId}, lectureId=${lecture.id})}"></a>
                                            </div>
                                            <div class="ml-auto">
                                                <form action="#" th:if="${session.currentUser != null and (session.currentUser.getUserId() == course.creator.getUserId() or session.currentUser.role.roleType == 'Admin')}" th:action="@{/course/{courseId}/lecture/{lectureId}/update(courseId=${course.courseId},lectureId=${lecture.id})}" method="get">
                                                <button class="rbt-btn btn-gradient btn-sm text-center" href="#" type="submit" style="width: 100px; background: blue !important; padding-left: 10px">Update</button>
                                                </form>
                                                <form action="#" th:if="${session.currentUser != null and (session.currentUser.getUserId() == course.creator.getUserId() or session.currentUser.role.roleType == 'Admin')}" th:action="@{/course/{courseId}/lecture/{lectureId}/grade(courseId=${course.courseId},lectureId=${lecture.id})}" method="get">
                                                <button class="rbt-btn btn-gradient btn-sm text-center" href="#" type="submit" style="width: 100px; background: green !important;">Grade</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Course Content  -->
                    <!-- Start Intructor Area  -->
                    <div class="rbt-instructor rbt-shadow-box intructor-wrapper mt--30" id="intructor">
                        <div class="about-author border-0 pb--0 pt--0">
                            <div class="section-title mb--30">
                                <h4 class="rbt-title-style-3">Teacher</h4>
                            </div>
                            <div class="media align-items-center">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img th:src="${course.creator.getPictureUrl()}"
                                             alt="Author Images">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="author-info">
                                        <h5 class="title">
                                            <a class="hover-flip-item-wrapper" th:href="@{/users/{id}/profile(id=${course.creator.userId})}"
                                               th:text="${course.creator.firstName + ' ' + course.creator.lastName} ">Teacher</a>
                                        </h5>
                                        <span class="b3 subtitle">Teacher</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Intructor Area  -->


                    <div class="about-author-list rbt-shadow-box featured-wrapper mt--30 has-show-more"
                         th:unless="${ratings.isEmpty()}">
                        <div class="section-title">
                            <h4 class="rbt-title-style-3">Featured review</h4>
                        </div>
                        <div class="has-show-more-inner-content rbt-featured-review-list-wrapper">


                            <div class="rbt-course-review about-author" th:each="rating: ${ratings}">
                                <div class="media">
                                    <div class="thumbnail">
                                        <a href="#">
                                            <img th:src="${rating.rater.pictureUrl}"
                                                 alt="Author Images">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="author-info">
                                            <h5 class="title">
                                                <a class="hover-flip-item-wrapper" href="#"
                                                   th:text="${rating.rater.getFirstName() + ' ' + rating.rater.getLastName()}">
                                                    Rater
                                                </a>
                                            </h5>
                                            <div class="rating">
                                                <a href="#" th:text="${'Rating: ' + rating.rating}">Rating</a>

                                            </div>
                                        </div>
                                        <div class="content">
                                            <p class="description" th:text="${rating.comment}">Comment</p>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="rbt-show-more-btn">Show More</div>
                    </div>
                </div>

            </div>

            <div class="col-lg-4">
                <div th:if="${isAuthenticated}"
                     class="course-sidebar sticky-top rbt-shadow-box course-sidebar-top rbt-gradient-border">
                    <div class="inner">


                        <div th:if="${currentUserRole=='Student'}">

                            <div th:if="${isEnrolled}">

                                <div class="buy-now-btn mt--15">
                                    <a class="rbt-btn btn-border icon-hover w-100 d-block text-center" href="#">
                                        <span class="btn-text">you are enrolled for this course</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </a>
                                </div>


                            </div>
                            <div th:if="${hasPassed}">

                                <div class="buy-now-btn mt--15">
                                    <a class="rbt-btn btn-border icon-hover w-100 d-block text-center" href="#">
                                        <span class="btn-text">you have passed this course</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </a>
                                </div>


                                <div class="buy-now-btn mt--15">
                                    <form th:action="@{/courses/{id}/rate(id=${course.courseId})}" th:object="${rating}"
                                          method="post">
                                        <input type="text" th:field="*{rating}" placeholder="Rating 0-6 *">

                                        <input type="text" th:field="*{comment}" placeholder="Comment *">

                                        <input type="submit" value="Rate Course">
                                    </form>
                                </div>
                            </div>

                            <div th:unless="${isEnrolled or hasPassed}">
                                <div th:if="${hasStarted}">
                                    <div class="add-to-card-button mt--15">
                                        <a class="rbt-btn btn-gradient icon-hover w-100 d-block text-center" href="#"
                                           th:href="@{/courses/{id}/enroll(id=${course.courseId})}">
                                            <span class="btn-text">Enroll</span>
                                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                                <div th:unless="${hasStarted}">
                                    <div class="buy-now-btn mt--15">
                                        <a class="rbt-btn btn-border icon-hover w-100 d-block text-center" href="#">
                                            <span class="btn-text">The course has not started yet</span>
                                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        </a>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div th:if="${isCreator || currentUserRole=='Admin'}">


                            <div class="add-to-card-button mt--15">
                                <a class="rbt-btn btn-gradient icon-hover w-100 d-block text-center" href="#"
                                   th:href="@{/courses/{id}/lecture/new(id=${course.courseId})}">
                                    <span class="btn-text">Add Lecture</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </a>
                            </div>


                            <div class="buy-now-btn mt--15">
                                <a th:href="@{/courses/{id}/update(id=${course.courseId})}"
                                   class="rbt-btn btn-border icon-hover w-100 d-block text-center" href="#">
                                    <span class="btn-text">Modify</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </a>
                            </div>


                            <div th:if="${hasStudents}">
                                <div class="buy-now-btn mt--15">

                                    <span style="font-size: 15px; line-height: 1">The course has students which are enrolled, so you cannot delete it</span>


                                </div>
                            </div>

                            <div th:unless="${hasStudents}" class="buy-now-btn mt--15">
                                <a th:href="@{/courses/{id}/delete(id=${course.courseId})}"
                                   class="rbt-btn btn-border icon-hover w-100 d-block text-center" href="#">
                                    <span class="btn-text">Delete</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </a>
                            </div>


                        </div>
                    </div>

                    <!--              <div class="buy-now-btn mt&#45;&#45;15">-->
                    <!--                <a class="rbt-btn btn-border icon-hover w-100 d-block text-center" href="#">-->
                    <!--                  <span class="btn-text">Buy Now</span>-->
                    <!--                  <span class="btn-icon"><i class="feather-arrow-right"></i></span>-->
                    <!--                </a>-->
                    <!--              </div>-->

                    <div class="rbt-widget-details has-show-more">
                        <ul class="has-show-more-inner-content rbt-course-details-list-wrapper">
                            <li><span>Start Date</span><span class="rbt-feature-value rbt-badge-5"
                                                             th:text="${course.startingDate}">Start Date</span>
                            </li>
                            <li><span>Topic</span><span class="rbt-feature-value rbt-badge-5"
                                                        th:text="${course.topic.topic}">Topic</span></li>
                            <li><span>Passing Grade</span><span class="rbt-feature-value rbt-badge-5"
                                                                th:text="${course.passingGrade}">Passing Grade</span>
                            </li>

                        </ul>
                        <!--                <div class="rbt-show-more-btn">Show More</div>-->
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>


<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>

<div class="rbt-progress-parent">
    <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
</div>

<!-- JS
============================================ -->
<!-- Modernizer JS -->
<script src="/static/js/vendor/modernizr.min.js" th:src="@{/js/vendor/modernizr.min.js}"></script>
<script src="/static/js/vendor/jquery.js" th:src="@{/js/vendor/jquery.js}"></script>
<script src="/static/js/vendor/bootstrap.min.js" th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script src="/static/js/vendor/sal.js" th:src="@{/js/vendor/sal.js}"></script>
<script src="/static/js/vendor/swiper.js" th:src="@{/js/vendor/swiper.js}"></script>
<script src="/static/js/vendor/magnify.min.js" th:src="@{/js/vendor/magnify.min.js}"></script>
<script src="/static/js/vendor/jquery-appear.js" th:src="@{/js/vendor/jquery-appear.js}"></script>
<script src="/static/js/vendor/odometer.js" th:src="@{/js/vendor/odometer.js}"></script>
<script src="/static/js/vendor/backtotop.js" th:src="@{/js/vendor/backtotop.js}"></script>
<script src="/static/js/vendor/isotop.js" th:src="@{/js/vendor/isotop.js}"></script>
<script src="/static/js/vendor/imageloaded.js" th:src="@{/js/vendor/imageloaded.js}"></script>
<script src="/static/js/vendor/wow.js" th:src="@{/js/vendor/wow.js}"></script>
<script src="/static/js/vendor/waypoint.min.js" th:src="@{/js/vendor/waypoint.min.js}"></script>
<script src="/static/js/vendor/easypie.js" th:src="@{/js/vendor/easypie.js}"></script>
<script src="/static/js/vendor/text-type.js" th:src="@{/js/vendor/text-type.js}"></script>
<script src="/static/js/vendor/jquery-one-page-nav.js" th:src="@{/js/vendor/jquery-one-page-nav.js}"></script>
<script src="/static/js/vendor/bootstrap-select.min.js" th:src="@{/js/vendor/bootstrap-select.min.js}"></script>
<script src="/static/js/vendor/jquery-ui.js" th:src="@{/js/vendor/jquery-ui.js}"></script>
<script src="/static/js/vendor/magnify-popup.min.js" th:src="@{/js/vendor/magnify-popup.min.js}"></script>
<script src="/static/js/vendor/paralax-scroll.js" th:src="@{/js/vendor/paralax-scroll.js}"></script>
<script src="/static/js/vendor/paralax.min.js" th:src="@{/js/vendor/paralax.min.js}"></script>
<script src="/static/js/vendor/countdown.js" th:src="@{/js/vendor/countdown.js}"></script>
<script src="/static/js/vendor/plyr.js" th:src="@{/js/vendor/plyr.js}"></script>
<script src="/static/js/main.js" th:src="@{/js/main.js}"></script>
</body>

</html>