<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{index2.html :: head('All Courses')}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</form>
<body>
<div th:replace = "~{index2.html :: nav}"></div>
  <p th:text="${course.title}"></p>
  <p th:text="${course.courseId}"></p>
  <p th:text="${course.topic.topic}"></p>
  <p th:text="${course.creator.email}"></p>
  <p th:text="${course.startingDate}"></p>
  <p th:text="${course.passingGrade}"></p>
  <p th:text="${course.avgRating}"></p>
  <p th:text="${course.description}"></p>


<div th:if="${currentUserRole=='Student'}">
  <h3>user</h3>
  <div th:if="${isEnrolled}">
      <p>you are enrolled for this course</p>
  </div>
  <div th:if="${hasPassed}">
    <p>you have passed this course</p>
  </div>

  <div th:unless="${isEnrolled or hasPassed}">

    <a href="#"
       th:href="@{/courses/{id}/enroll(id=${course.courseId})}">Enroll</a>
  </div>

</div>
<div th:if="${hasModifyPermissions}">
  <button>delete</button>
  <button>update</button>

</div>






</body>
</html>