<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Post Format Video - Online Courses & Education Bootstrap5 Template</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png">

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="../static/css/vendor/bootstrap.min.css" th:href="@{/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick.css" th:href="@{/css/css/vendor/slick.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick-theme.css" th:href="@{/css/vendor/slick-theme.css}">
    <link rel="stylesheet" href="../static/css/plugins/sal.css" th:href="@{/css/plugins/sal.css}">
    <link rel="stylesheet" href="../static/css/plugins/feather.css" th:href="@{/css/plugins/feather.css}">
    <link rel="stylesheet" href="../static/css/plugins/fontawesome.min.css"
          th:href="@{/css/plugins/fontawesome.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/euclid-circulara.css"
          th:href="@{/css/plugins/euclid-circulara.css}">
    <link rel="stylesheet" href="../static/css/plugins/swiper.css" th:href="@{/css/plugins/swiper.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnify.css" th:href="@{/css/plugins/magnify.css}">
    <link rel="stylesheet" href="../static/css/plugins/odometer.css" th:href="@{/css/plugins/odometer.css}">
    <link rel="stylesheet" href="../static/css/plugins/animation.css" th:href="@{/css/plugins/animation.css}">
    <link rel="stylesheet" href="../static/css/plugins/bootstrap-select.min.css"
          th:href="@{/css/plugins/bootstrap-select.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/jquery-ui.css" th:href="@{/css/plugins/jquery-ui.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnigy-popup.min.css"
          th:href="@{/css/plugins/magnigy-popup.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/plyr.css" th:href="@{/css/plugins/plyr.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <style>
        .center {
            margin: 0 auto;
            width: 52%;
        }
        /* Style for the modal */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
        }

        /* Style for the modal content */
        .modal-content {
            background-color: #fefefe;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* Style for the close button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        /* Style for the link */
        .wiki-link {
            color: #007bff; /* Set the link color to a primary color */
            text-decoration: none; /* Remove the default underline */
            font-weight: bold; /* Make the text bold */
            display: inline-block; /* Ensure proper spacing between elements */
            margin-top: 10px; /* Add some top margin for separation */
        }

        /* Style for the link on hover */
        .wiki-link:hover {
            color: #0056b3; /* Change the color on hover */
            text-decoration: underline; /* Underline the link on hover */
        }
    </style>


</head>

<body class="rbt-header-sticky">
<!-- Start Header Area -->
<header class="rbt-header rbt-header-10">
    <div class="rbt-header-wrapper header-space-betwween header-sticky">
        <form th:replace="~{forms.html::header}"></form>
    </div>
</header>

<div class="rbt-overlay-page-wrapper content">
    <div class="breadcrumb-image-container breadcrumb-style-max-width ">
        <div class="breadcrumb-image-wrapper">
            <img src="/static/assets/images/bg/bg-image-10.jpg" alt="Education Images">
        </div>
        <div class="breadcrumb-content-top text-center ">
            <ul class="meta-list justify-content-center mb--10">
                <li class="list-item">
                    <div class="author-thumbnail">
                        <img src="/static/assets/images/testimonial/client-06.png" alt="blog-image">
                    </div>
                    <div class="author-info">
                        <a href="#"><strong>Jone Song</strong></a> in <a href="#"><strong>Design</strong></a>
                    </div>
                </li>
                <li class="list-item">
                    <i class="feather-clock"></i>
                    <span>20 Aug 2021</span>
                </li>
            </ul>
            <h1 class="title" th:text="${lecture.title}">Skills That You Can Learn From Education.</h1>
        </div>
    </div>
</div>

<div class="rbt-blog-details-area rbt-section-gapBottom breadcrumb-style-max-width ">
    <div class="blog-content-wrapper rbt-article-content-wrapper ">

        <div class="content">
            <div class="ratio ratio-16x9 alignwide mb--30">
                <iframe src="https://www.youtube.com/embed/fLGGyAhVm3s" th:src="${lecture.getVideoUrl()}"
                        allowfullscreen allow="autoplay"></iframe>
            </div>

            <p th:text="${lecture.getDescription().description}">There </p>
        </div>
    </div>

    <!--START-->
    <div class="rbt-dashboard-content bg-color-white rbt-shadow-box">
        <form action="#" th:action="@{/course/{courseId}/lecture/{lectureId}/solution(courseId=${courseId},lectureId=${lectureId})}" method="post"
              id="solutionForm" enctype="multipart/form-data">
            <label for="solutionInput" class="rbt-edit-photo-link" title="Upload file">
                <i class="feather-file"></i> Chose file
            </label>
            <input type="file" id="solutionInput" name="file" style="display: none;"
                   onchange="handleFileChange(this)">

            <div class="col-12 mt--20">
                <div class="rbt-form-group">
                    <button class="rbt-btn btn-gradient" href="#" type="submit"
                            style="width: 150px;">Upload
                    </button>
                </div>
            </div>
        </form>
        <div id="selectedFileName" style="display: none;"></div>

    </div>
    <!--STOP-->

    <div class="rbt-elements-area bg-color-darker rbt-section-gap">
        <div class="container center">
            <div class="center">
                <div>
                    <form class="rbt-search-style me-0" action="#"
                          th:action="@{/course/{courseId}/lecture/{lectureId}(courseId=${lecture.courseId},lectureId=${lecture.getId()})}"
                          th:object="${wikiSearchCriteria}" method="get">
                        <input style="color: #0b0b0b" type="text" th:field="*{wikiSearchCriteria}"
                               placeholder="Are you hungry for knowledge?">
                        <button type="submit" class="rbt-search-btn rbt-round-btn">
                            <i class="feather-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="rbt-elements-area bg-color-light rbt-section-gap">

        <div>
            <div>
                <ul th:each="wiki : ${wikiSearchResult}">
                    <li>
                        <span th:text="${wiki.getSnippet()}">short snippet</span>
                        <br>
                        <button th:attr="content-id=${wiki.getContent()}" onclick="showPopup(this)">Read more</button>
                        <br>
                        <a class="wiki-link" target="_blank" th:href="${wiki.getFullUrl()}"> Link to official Wiki page </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closePopup()">&times;</span>
                <p id="modalContent"></p>
            </div>
        </div>

    </div>
</div>


<!-- End Footer aera -->
<div class="rbt-progress-parent">
    <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
</div>

<!-- JS
============================================ -->
<!-- Modernizer JS -->
<script src="/static/js/vendor/modernizr.min.js" th:src="@{/js/vendor/modernizr.min.js}"></script>
<!-- jQuery JS -->
<script src="/static/js/vendor/jquery.js" th:src="@{/js/vendor/jquery.js}"></script>
<!-- Bootstrap JS -->
<script src="/static/js/vendor/bootstrap.min.js" th:src="@{/js/vendor/bootstrap.min.js}"></script>
<!-- sal.js -->
<script src="/static/js/vendor/sal.js" th:src="@{/js/vendor/sal.js}"></script>
<script src="/static/js/vendor/swiper.js" th:src="@{/js/vendor/swiper.js}"></script>
<script src="/static/js/vendor/magnify.min.js" th:src="@{/js/vendor/magnify.min.js}"></script>
<script src="/static/js/vendor/jquery-appear.js" th:src="@{/js/vendor/jquery-appear.js}"></script>
<script src="/static/js/vendor/odometer.js" th:src="@{/js/vendor/odometer.js}"></script>
<script src="/static/js/vendor/backtotop.js" th:src="@{/js/vendor/backtotop.js}"></script>
<script src="/static/js/vendor/isotop.js" th:src="@{/js/vendor/isotop.js}"></script>
<script src="/static/js/vendor/imageloaded.js" th:src="@{/js/vendor/imageloaded.js}"></script>
<script src="/static/js/vendor/wow.js" th:src="@{/js/vendor/wow.js}"></script>
<script src="/static/js/vendor/waypoint.min.js" th:src="@{/js/vendor/waypoint.min.js}"></script>
<script src="/static/js/vendor/easypie.js" th:src="@{/js/vendor/easypie.js}"></script>
<script src="/static/js/vendor/text-type.js" th:src="@{/js/vendor/text-type.js}"></script>
<script src="/static/js/vendor/jquery-one-page-nav.js" th:src="@{/js/vendor/jquery-one-page-nav.js}"></script>
<script src="/static/js/vendor/bootstrap-select.min.js" th:src="@{/js/vendor/bootstrap-select.min.js}"></script>
<script src="/static/js/vendor/jquery-ui.js" th:src="@{/js/vendor/jquery-ui.js}"></script>
<script src="/static/js/vendor/magnify-popup.min.js" th:src="@{/js/vendor/magnify-popup.min.js}"></script>
<script src="/static/js/vendor/paralax-scroll.js" th:src="@{/js/vendor/paralax-scroll.js}"></script>
<script src="/static/js/vendor/paralax.min.js" th:src="@{/js/vendor/paralax.min.js}"></script>
<script src="/static/js/vendor/countdown.js" th:src="@{/js/vendor/countdown.js}"></script>
<script src="/static/js/vendor/plyr.js" th:src="@{/js/vendor/plyr.js}"></script>
<!-- Main JS -->
<script src="/static/js/main.js" th:src="@{/js/main.js}"></script>

<script th:inline="javascript">
    /*function showPopup(content) {
        alert(content); // You can replace this with your preferred pop-up/modal implementation
        // For example, using a modal library like Bootstrap or creating a custom modal.
    }*/
    function showPopup(element) {
        const content = element.getAttribute('content-id');
        const modal = document.getElementById('myModal');
        const modalContent = document.getElementById('modalContent');

        modal.style.display = 'block';
        modalContent.innerText = content;
    }

    function closePopup() {
        const modal = document.getElementById('myModal');
        modal.style.display = 'none';
    }
</script>
</body>

</html>