<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Create Lecture</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/images/favicon.png}">
    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="../static/css/vendor/bootstrap.min.css" th:href="@{/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick.css" th:href="@{/css/vendor/slick.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick-theme.css" th:href="@{/css/vendor/slick-theme.css}">
    <link rel="stylesheet" href="../static/css/plugins/sal.css" th:href="@{/css/plugins/sal.css}">
    <link rel="stylesheet" href="../static/css/plugins/feather.css" th:href="@{/css/plugins/feather.css}">
    <link rel="stylesheet" href="../static/css/plugins/fontawesome.min.css"
          th:href="@{/css/plugins/fontawesome.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/euclid-circulara.css"
          th:href="@{/css/plugins/euclid-circulara.css}">
    <link rel="stylesheet" href="../static/css/plugins/swiper.css" th:href="@{/css/plugins/swiper.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnify.css" th:href="@{/css/plugins/magnify.css}">
    <link rel="stylesheet" href="../static/css/plugins/odometer.css" th:href="@{/css/plugins/odometer.css}">
    <link rel="stylesheet" href="../static/css/plugins/animation.css" th:href="@{/css/plugins/animation.css}">
    <link rel="stylesheet" href="../static/css/plugins/bootstrap-select.min.css"
          th:href="@{/css/plugins/bootstrap-select.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/jquery-ui.css" th:href="@{/css/plugins/jquery-ui.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnigy-popup.min.css"
          th:href="@{/css/plugins/magnigy-popup.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/plyr.css" th:href="@{/css/plugins/plyr.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<header class="rbt-header rbt-header-10">
    <!--<div class="rbt-sticky-placeholder"></div>-->
    <div class="rbt-header-wrapper header-space-betwween header-sticky">
        <form th:replace="~{forms.html::header}"></form>
    </div>
</header>
<body class="rbt-header-sticky">
<div class="rbt-breadcrumb-default ptb--100 ptb_md--50 ptb_sm--30 bg-gradient-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h2 class="title">Update Lecture</h2>
                    <ul class="page-list">
                        <li class="rbt-breadcrumb-item"><a th:href="@{/}">Home</a></li>
                        <li>
                            <div class="icon-right"><i class="feather-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">Create Lecture</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rbt-elements-area bg-color-white rbt-section-gap">
    <div class="container">
        <div class="row gy-5 row--30">
            <div class="col-lg-6 mx-auto">
                <div class="rbt-contact-form contact-form-style-1 max-width-auto">
                    <h3 class="title">Lecture</h3>
                    <form class="max-width-auto" th:action="@{__${requestURI}__}" th:object="${lectureDto}" method="post"
                          enctype="multipart/form-data">
                        <div class="form-group">
                            <input name="lecture-title" type="text" th:field="*{title}"/>
                            <label>Lecture Title *</label>
                            <p style="color: red" th:errors="*{title}">Title error placeholder</p>
                            <span class="focus-border"></span>
                        </div>

                        <div class="form-group">
                            <input name="video-url" type="text" th:field="*{videoUrl}"/>
                            <label>Video URL *</label>
                            <p style="color: red" th:errors="*{videoUrl}">VideoUrl error placeholder</p>
                            <span class="focus-border"></span>
                        </div>

                        <div class="form-group">
                            <textarea name="lecture_description" type="text" th:field="*{description.description}">
                            </textarea>
                            <label>Description</label>
                            <label th:errors="*{description.description}">Description error placeholder</label>
                            <span class="focus-border"></span>
                        </div>

                        <div class="form-group focused">
                            <input type="file" name="assignment" th:field="*{assignment}"/>
                            <label>Assignment *</label>

                            <span class="focus-border"></span>
                        </div>

                        <div class="form-submit-group">
                            <button type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse w-100">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Update</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </span>
                            </button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="rbt-progress-parent">
    <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
</div>
<!-- JS
============================================ -->
<!-- Modernizer JS -->
<script th:src="@{/js/vendor/modernizr.min.js}"></script>
<!-- jQuery JS -->
<script th:src="@{/js/vendor/jquery.js}"></script>
<!-- Bootstrap JS -->
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<!-- sal.js} -->
<script th:src="@{/js/vendor/sal.js}"></script>
<script th:src="@{/js/vendor/swiper.js}"></script>
<script th:src="@{/js/vendor/magnify.min.js}"></script>
<script th:src="@{/js/vendor/jquery-appear.js}"></script>
<script th:src="@{/js/vendor/odometer.js}"></script>
<script th:src="@{/js/vendor/backtotop.js}"></script>
<script th:src="@{/js/vendor/isotop.js}"></script>
<script th:src="@{/js/vendor/imageloaded.js}"></script>
<script th:src="@{/js/vendor/wow.js}"></script>
<script th:src="@{/js/vendor/waypoint.min.js}"></script>
<script th:src="@{/js/vendor/easypie.js}"></script>
<script th:src="@{/js/vendor/text-type.js}"></script>
<script th:src="@{/js/vendor/jquery-one-page-nav.js}"></script>
<script th:src="@{/js/vendor/bootstrap-select.min.js}"></script>
<script th:src="@{/js/vendor/jquery-ui.js}"></script>
<script th:src="@{/js/vendor/magnify-popup.min.js}"></script>
<script th:src="@{/js/vendor/paralax-scroll.js}"></script>
<script th:src="@{/js/vendor/paralax.min.js}"></script>
<script th:src="@{/js/vendor/countdown.js}"></script>
<script th:src="@{/js/vendor/plyr.js}"></script>
<!-- Main JS -->
<script th:src="@{/js/main.js}"></script>
</body>
</html>