<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>User Profile</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png">

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="../static/css/vendor/bootstrap.min.css" th:href="@{/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick.css" th:href="@{/css/vendor/slick.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick-theme.css" th:href="@{/css/vendor/slick-theme.css}">
    <link rel="stylesheet" href="../static/css/plugins/sal.css" th:href="@{/css/plugins/sal.css}">
    <link rel="stylesheet" href="../static/css/plugins/feather.css" th:href="@{/css/plugins/feather.css}">
    <link rel="stylesheet" href="../static/css/plugins/fontawesome.min.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/plugins/euclid-circulara.css"
          th:href="@{/css/plugins/euclid-circulara.css}">
    <link rel="stylesheet" href="../static/css/plugins/swiper.css" th:href="@{/css/plugins/swiper.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnify.css" th:href="@{/css/plugins/magnify.css}">
    <link rel="stylesheet" href="../static/css/plugins/odometer.css" th:href="@{/css/plugins/odometer.css}">
    <link rel="stylesheet" href="../static/css/plugins/animation.css" th:href="@{/css/plugins/animation.css}">
    <link rel="stylesheet" href="../static/css/plugins/bootstrap-select.min.css"
          th:href="@{/css/plugins/bootstrap-select.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/jquery-ui.css" th:href="@{/css/plugins/jquery-ui.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnigy-popup.min.css"
          th:href="@{/css/plugins/magnigy-popup.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/plyr.css" th:href="@{/css/plugins/plyr.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>

<body>

<!-- Start Header Area -->
<header class="rbt-header rbt-header-10">
    <div class="rbt-sticky-placeholder"></div>
    <div class="rbt-header-wrapper header-space-betwween header-sticky">
        <form th:replace="~{forms.html::header}"></form>

    </div>
</header>

<div class="rbt-page-banner-wrapper">
    <!-- Start Banner BG Image  -->
    <div class="rbt-banner-image"></div>
    <!-- End Banner BG Image  -->
</div>

<!-- Start Card Style -->
<div class="rbt-dashboard-area rbt-section-overlayping-top rbt-section-gapBottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Start Dashboard Top  -->
                <div class="rbt-dashboard-content-wrapper">
                    <div style="padding-bottom: 190px"></div>
                    <!-- Start Tutor Information  -->
                    <div class="rbt-tutor-information">
                        <div class="rbt-tutor-information-left">
                            <div class="thumbnail rbt-avatars size-lg">
                                <img src="/static/assets/images/team/avatar-2.jpg" alt="User"
                                     th:src="${userProfile.pictureUrl}">
                            </div>
                            <div class="tutor-content">
                                <h5 class="title" th:text="${userProfile.firstName + ' ' + userProfile.lastName}">Emily
                                    Hannah</h5>
                            </div>
                        </div>
                        <div class="rbt-tutor-information-right">
                        </div>
                    </div>
                    <!-- End Tutor Information  -->
                </div>
                <!-- End Dashboard Top  -->

                <div class="row g-5">
                    <div class="col-lg-3">
                        <!-- Start Dashboard Sidebar  -->
                        <form th:replace="~{forms.html::userSettingsSidebar}"></form>

                        <form action="#" th:action="@{/users/{id}/delete(id=${userProfile.userId})}" method="get" onclick="confirmDeleteUser()">
                            <div class="col-12 mt--20">
                                <div class="rbt-form-group">
                                    <button class="rbt-btn btn-gradient" href="#" type="submit"
                                            style="width: 305px; background: red !important;">Delete
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- End Dashboard Sidebar  -->
                    </div>
                    <div class="col-lg-9">
                        <!-- Start Instructor Profile  -->
                        <div class="rbt-dashboard-content bg-color-white rbt-shadow-box">
                            <!-- Start Profile Row  -->
                            <form action="#" class="rbt-profile-row rbt-default-form row row--15"
                                  th:action="@{/users/{id}/settings(id=${userProfile.userId})}" th:object="${userDto}"
                                  method="post" id="updateForm" onsubmit="return validatePassword()">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="rbt-form-group">
                                        <label class="form-error" style="color: red" th:errors="*{firstName}">First Name
                                            error placeholder</label>
                                        <input id="firstname" type="text" placeholder="First Name"
                                               th:field="*{firstName}">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="rbt-form-group">
                                        <label class="form-error" style="color: red" th:errors="*{lastName}">Last Name
                                            error placeholder</label>
                                        <input id="lastname" type="text" placeholder="Last Name" th:field="*{lastName}">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="rbt-form-group">
                                        <input id="email" type="text" placeholder="Email" readonly th:field="*{email}">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="rbt-form-group">
                                        <input id="role" type="text" placeholder="Role" readonly th:field="*{role}">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="rbt-form-group">
                                        <label class="form-error" style="color: red" th:errors="*{password}">Password
                                            error placeholder</label>
                                        <input id="newpassword" type="password" placeholder="Password"
                                               th:field="*{password}">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="rbt-form-group">
                                        <input id="retypenewpassword" type="password" placeholder="Retype Password">
                                    </div>
                                </div>

                                <div class="col-12 mt--20">
                                    <div class="rbt-form-group">
                                        <button class="rbt-btn btn-gradient" href="#" type="submit">Update Info</button>
                                    </div>
                                </div>
                            </form>
                            <div id="confirmPasswordError" style="color: red" class="form-error">
                                <!-- End Profile Row  -->
                            </div>
                            <!-- End Instructor Profile  -->
                        </div>
                        <div style="padding-bottom: 20px"></div>
                        <div class="rbt-dashboard-content bg-color-white rbt-shadow-box">
                            <form action="#" th:action="@{/users/{id}/settings/picture(id=${userProfile.userId})}" method="post"
                                  id="photoForm" enctype="multipart/form-data">
                                <label for="photoInput" class="rbt-edit-photo-link" title="Upload Photo">
                                    <i class="feather-camera"></i> Chose Photo
                                </label>
                                <input type="file" id="photoInput" name="file" style="display: none;"
                                       onchange="handleFileChange(this)">

                                <div class="col-12 mt--20">
                                    <div class="rbt-form-group">
                                        <button class="rbt-btn btn-gradient" href="#" type="submit"
                                                style="width: 150px;">Upload
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div id="selectedFileName" style="display: none;"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Card Style -->

    <div class="rbt-separator-mid">
        <div class="container">
            <hr class="rbt-separator m-0">
        </div>
    </div>

    <div class="rbt-progress-parent">
        <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
        </svg>
    </div>

    <script>
        function validatePassword() {
            const password = document.getElementById("newpassword").value;
            const confirmPassword = document.getElementById("retypenewpassword").value;
            const confirmPasswordError = document.getElementById("confirmPasswordError");

            if (password !== confirmPassword) {
                confirmPasswordError.textContent = "Passwords do not match";
                return false;
            } else {
                confirmPasswordError.textContent = "";
                return true;
            }
        }

        document.getElementById("updateForm").onsubmit = function () {
            return validatePassword();
        };

        function handleFileChange(input) {
            const fileName = input.value.split('\\').pop();
            const selectedFileName = document.getElementById("selectedFileName");

            selectedFileName.innerText = fileName || "";
            selectedFileName.style.display = "inline";
        }

        function confirmDeleteUser() {
            const confirmation = confirm('Are you sure you want to delete this user?');
            if (confirmation){
                window.location.href = '/user/settings/delete';
            }
        }
    </script>

    <!-- JS
============================================ -->
    <!-- Modernizer JS -->
    <script src="/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="/js/vendor/bootstrap.min.js"></script>
    <!-- sal.js -->
    <script src="/js/vendor/sal.js"></script>
    <script src="/js/vendor/swiper.js"></script>
    <script src="/js/vendor/magnify.min.js"></script>
    <script src="/js/vendor/jquery-appear.js"></script>
    <script src="/js/vendor/odometer.js"></script>
    <script src="/js/vendor/backtotop.js"></script>
    <script src="/js/vendor/isotop.js"></script>
    <script src="/js/vendor/imageloaded.js"></script>

    <script src="/js/vendor/wow.js"></script>
    <script src="/js/vendor/waypoint.min.js"></script>
    <script src="/js/vendor/easypie.js"></script>
    <script src="/js/vendor/text-type.js"></script>
    <script src="/js/vendor/jquery-one-page-nav.js"></script>
    <script src="/js/vendor/bootstrap-select.min.js"></script>
    <script src="/js/vendor/jquery-ui.js"></script>
    <script src="/js/vendor/magnify-popup.min.js"></script>
    <script src="/js/vendor/paralax-scroll.js"></script>
    <script src="/js/vendor/paralax.min.js"></script>
    <script src="/js/vendor/countdown.js"></script>
    <script src="/js/vendor/plyr.js"></script>
    <!-- Main JS -->
    <script src="/js/main.js"></script>
</body>

</html>